/* -----------------------------
        Universal Selector
  -------------------------- */

* {margin: 0; padding: 0;}
body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}

/* -------------------------------
        Fonts
    ---------------------------- */

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* ---------------------------------
            Header / Nav Styles
--------------------------------- */

header {
    background-color: #562EFF;
}
nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 10%;
}
nav .logo {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}
.logo img {
    width: 40px;
    height: 50px;
}
.logo span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #ffff;
    margin-left: 16px;
}
nav .menu {
    display: flex;
    justify-content: flex-end;
}
.menu ul {
    display: flex;
    list-style-type: none;
    column-gap: 36px;
    align-items: center;
}
.menu ul li a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: #fff;

}
.profile-photo {
    width: 50px;
    height: 50px;
}

/* ----------------------------------------
        Sections & Top Players Styles
----------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    width: 870px;
    background: #fff;
    border-radius: 8px;
    margin-top: 36px;
    padding: 33px;
}
section:last-child {
    margin-bottom: 36px;
}
.section-title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
    margin-bottom: 40px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    margin-bottom: 30px;
}
.player {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.player-image {
    width: 56px;
    height: 56px;
}
.player-name {
    font-size: 18px;
    line-height: 27px;
    color: #000;
    text-decoration: none;
}

/* ----------------------------------------
        Top Blogs Styles
----------------------------------------- */

.blogs {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     row-gap: 26px;
     column-gap: 76px;
}
.top-blogs .section-title {
    margin-top: 30px;
}
.top-blog {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.blog-image {
    width: 177px;
    height: 127px;
}
.blog-title {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 6px;
}
.author {
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
}
.author-name {
    color: #562EFF;
    text-decoration: none;
}

/* ---------------------------------------
        Styles for Latest Courses
--------------------------------------- */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 36px;
}
.course {    
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 12px;
}
.course-image img {
    width: 224px;
    height: 104px;
}
.course-title {
    font-size: 20px;
    font-weight: 600;
    font-family: roboto;
    line-height: 26px;
    margin-bottom: 8px;
}
.course-instructor {
    color: #ED6B4F;
    font-size: 15px;
    font-family: Roboto;
    line-height: 17px;
    text-decoration: none;
}
.course-details {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.fa-star, .fa-star-half-stroke {
    color: #FFC014;
    font-size: 12px;
}
.course-rating span {
    color: #A2A2A2;
    font-size: 15px;
    font-family: poppins;
}
.course-duration p {
    background: #FFE4E8;
    color: #FF4A60;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    padding: 4px 5px;
    border-radius: 15px;
}